<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <commands>
      <command name="usermanager:resetmysettings">
        <patch:attribute name="type" value="Sitecore.Support.Shell.Framework.Commands.UserManager.ResetMySettings, Sitecore.Support.120026" />
      </command>
    </commands>
  </sitecore>
</configuration>